@mixin respond($breakpoint) {
    @if $breakpoint==max450 {
        @media (max-width: 450px) {
            @content;
        }
    }
    @if $breakpoint==lower600-max450 {
        @media (max-width: 600px) {
            @content;
        }
    }
    @if $breakpoint==lower900-max600 {
        @media (max-width: 900px) {
            @content;
        }
    }
    @if $breakpoint==lower1200-max900 {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint==lower1800-max1200 {
        @media (max-width: 1800px) {
            @content;
        }
    }
}

.gallery {
    text-align: center;
    div:nth-child(odd) {
        @include respond(lower1200-max900) {
            margin-right: 0;
        }
    }
    &-item {
        float: left;
        width: 470px;
        height: 470px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 40px;
        border: 3px solid black;
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 470px;
            height: 470px;
            border: 3px solid red;
            transform: rotate(2deg);
            pointer-events: none;
            @include respond(lower1200-max900) {
                width: 330px;
                height: 330px;
            }
            @include respond(lower900-max600) {
                width: 430px;
                height: 430px;
            }
            @include respond(lower600-max450) {
                width: 380px;
                height: 380px;
            }
            @include respond(max450) {
                width: 280px;
                height: 280px;
            }
        }
        @include respond(lower1200-max900) {
            width: 330px;
            height: 330px;
            margin-right: 15px;
            margin-left: 15px;
        }
        @include respond(lower900-max600) {
            width: 430px;
            height: 430px;
            margin-bottom: 50px;
            margin-right: 0;
            margin-left: 77px;
            /* background: green;*/
        }
        @include respond(lower600-max450) {
            width: 380px;
            height: 380px;
            margin-left: 0;
        }
        @include respond(max450) {
            width: 280px;
            height: 280px;
        }
        &__pic {
            float: left;
            width: 100%;
            height: 70%;
            img {
                position: relative;
                height: 100%;
                width: auto;
                padding: 10px 10px 0 10px;
            }
        }
        &__info {
            float: left;
            position: relative;
            width: 90%;
            margin-left: 5%;
            height: calc(30% - 25px);
            margin-top: 25px;
            border-top: 1px solid #808080;
            &-author {
                float: left;
                position: relative;
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                a {
                    margin-left: 10px;
                    background: none;
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            &-likes {
                float: left;
                position: relative;
                width: 28%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    margin-left: 10px;
                    background: none;
                    text-decoration: none;
                    color: #f02e25;
                    b {
                        float: left;
                        font-weight: bold;
                        font-size: 27px;
                        margin-left: 10px;
                    }
                    i {
                        float: left;
                        font-size: 23px;
                        font-style: normal;
                    }
                }
            }
        }
    }
}