@mixin respond($breakpoint) {
    @if $breakpoint==max450 {
        @media (max-width: 450px) {
            @content;
        }
    }
    @if $breakpoint==lower600-max450 {
        @media (max-width: 600px) {
            @content;
        }
    }
    @if $breakpoint==lower900-max600 {
        @media (max-width: 900px) {
            @content;
        }
    }
    @if $breakpoint==lower1200-max900 {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint==lower1800-max1200 {
        @media (max-width: 1800px) {
            @content;
        }
    }
}

.home-page {
    float: left;
    margin-bottom: 50px;
    h1 {
        color: #f02e25;
    }
    h2 {
        float: left;
        width: 100%;
        margin-top: -20px !important;
        color: #ffb954;
        i {
            color: #000000;
        }
    }
}

.home-page-in {
    position: relative;
    padding-left: 5%;
    @include respond(lower1200-max900) {
        padding-left: 0;
    }
}

.redbutton {
    float: left;
    background: #f02e25;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    padding: 6px 12px;
}

.home-page .pagecontainer {
    text-align: left;
}